node_modules
dist
.env


 // "serve": "cross-env NODE_ENV=development concurrently \"tsc --watch\" \"nodemon -q dist/app.ts\"",
    // "prestart": "npm run build",
    // "start": "cross-env NODE_ENV=production node dist/app.ts",